<p>Palabras, separadas por coma.</p>

<form action="/definitions" method="post" accept-charset="utf-8">
  <textarea rows="8" cols="80" name="words"></textarea>

  <p><input type="submit" value="Continue &rarr;"></p>
</form>

<% if @definitions %>
  <h2>Definiciones</h2>

  <ul>
    <% @definitions.each do |word, results| %>
      <li>
        <p><strong><%= word %>:</strong>
          <ol>
            <% results.each do |definition| %>
              <li><%= definition.text %></li>
            <% end  %>
          </ol>
      </li>
    <% end %>
  </ul>
<% end %>
